<html>
<!--  <h1 class="pageTitle" >{{ pageTitle }}</h1>  -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <img src="assets/images/pepsi.png" width="40px">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/users">User <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/details">Detail</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/form">Reg Form</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/praServers">DataBinding</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/praServers1">ParentChild Calling</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/booking">Booking App</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<br>
<router-outlet></router-outlet>
</html>